.caja{
    background-color: red;

    /* ancho */
    width: 350px;

    /* alto */
    height: 350px;

    /* bordes */
    /* border-width: 20px;
    border-style: outset;
    border-color: blue; */


    border:20px groove aqua ;

    /* padding- espacio entre el borde y el area de contenido
    padding:;
    padding-left:;
    padding-top:;
    padding-bottom:;
    padding-right:;

    1-todos los lados
    2-vertical horizontal
    3-arriba horizontal abajo
    4-arriba derecha abajo izquierda
     */
    padding: 30px;

    /* margin-espacio entre el borde y contenido exterior */
margin-top: 60px;
margin-bottom: 50px;
margin-left: 60px;

/* overflow
visible- el excedente de contenido se ve
hidden- el excedente de contenido se oculta
scroll- se generan barras de scroll
 */

overflow: auto;

}


.cajaDos{
    background-color: greenyellow;
}

.cajaSpan{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    padding: left 50px;
}

header h1{
    text-align: center;
}

header ul{
    list-style: none;
}

header ul li{
    width: fit-content;
    padding:15px;
}

/* portada */
.portada-index{
    height: 100vh;
    background-image:url(../img/portada.jpg) ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-texto{
    background-color: cadetblue;
    font-size: 1,8rem;
    padding: 15px;
border-radius: 20px ;
}

/* productos */
.productos div{
padding: 15px;
}

.productos-titulo{
    text-align: center;
    background-color: cadetblue;
    font-size: 1.6rem;
    padding: 15px;
}

.contenedor.productos{
    padding: 15px;
}

/* tarjeta */
.tarjeta{
    background-color: red;
    border: 2px solid black;
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
}

.tarjeta img{
    width: 100%;
}

.tarjeta h3{
    font-size: 1.8rem;
}

.tarjeta span{
    font-size: 1.6rem;
}

.btn{

    border: 2px solid black;
    padding: 8px 10px;
    border-radius:  20px;
}
.caja{
    width: 150px;
    height: 150px;
    border: solid 3px black;
    font-size: 1.8rem;
    text-align: center;
    background-color: blueviolet;
}

.contenedor{
    background-color: rgb(0,195,255);
    height: 100vh;

    display: flex;

    /* direccion de los hijos 
    flex-direction:  */
    flex-direction: row;

    /* multiples lineas
    flex-wrap: ; */
flex-wrap: wrap;

justify-content: flex-start;

align-items: flex-end;

align-content: stretch;



}

.caja-2{
    background-color: aqua;

    
    /* distribucion en el eje secundario */
    align-self: stretch;

    /* order */
    order: 1;

    /* tamaño flexible del elemento */
/* flex-basis: 400px; */
flex-grow: 6;
}

.caja-1{
    flex-grow: 3;

}

.caja-3{
    flex-grow: 1;

}