.tituloPrincipal {
    color: red;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    /* background-image: url(../img/azul-claro.png); */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #b9ddf5 0%, #9599E2 100%);
}

.mainContacto{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    text-align: justify;
    font-size: 20px;
}

.autos {
    color: cadetblue;
}

main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.tituloDestacado {
    color: rgb(1, 80, 80);
}

.noticiaDestacada h3 {
    color: blue !important;
}

ul {
    list-style: none;
}

p {
    text-align: center;
    color: black;

    font-size: 20px;
}

fondos p {
    background-color: red;
}

header {
    /* background-color: rgb(184, 183, 236); */
}

header div nav {
    display: flex;
    justify-content: space-around;
    text-decoration: none !important;
    padding: 20px;
}

header .botones a:link, a:visited {
    text-decoration: none;
    
}

header img {
    display: block;
    margin:auto;
    width: 200px;
    padding: 10px;
}

main {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

main img {
    display: block;
    margin: auto;
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

main h3 {
    color: rgb(1, 80, 80);
}

footer {
    padding: 10px;
    background-color: rgb(28, 33, 59);
}

footer .redes {
    /* text-decoration: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer h4 {
    text-align: center;
}

header .botonesCatalogo {
    display: flex;
    justify-content: space-around;
}
header h1 {
    text-align: center;
}

section h2 {
    text-align: center;
    font-size: 2rem;
}

.modelos {
    padding: 50px;
}

.autosCatalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1pc;
    border-radius: 10px;
    padding: 10px;
}

.autosCatalogo img {
    border-radius: 10px;
}

.deportivo {
    padding: 10px;
    text-align: center;
}
.deportivo img {
    border-radius: 10px;
}

#footerCatalogo div {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.lorem {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:  'Montserrat', sans-serif;
    padding: 10px;
    font-size: 1.5rem;
    }

    .botonContacto {
        padding: 15px;
    }

    .preguntaContacto {
        padding: 10px;
    }

    .nombreContacto {
        padding: 10px;
    }
    .emailContacto {
        padding: 10px;
    }
    .asuntoContacto {
        padding: 10px;
    }

     @media only screen and (max-width: 950px) {
        header .botones nav {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }

        main article img {
            width: 350px;
            height: 250px;
        }

        footer div  a:link, a:visited {
            text-decoration: none;
        }

        #footer .redes a{
            display: flex;
            flex-direction: column;
        }

        /* Catalogo */

        .botonesCatalogo {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }
        .botonesCatalogo a:link, a:visited {
            text-decoration: none;
        }

        section .autosCatalogo {
            display: flex;
            flex-direction: column;
            width: 200px;
            margin: auto;
            /* border-radius: 50%; */
        }

        #footerCatalogo{
            background-color: whitesmoke;
            /* display: flex;
            flex-direction: column; */
            color: rgb(0, 0, 0);
        }

        #footerCatalogo .redesCatalogo {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 8px;
        }



     }